<h1>Spotify Angular </h1>
<p class="lead">This is an Angular 4 Application which uses Spotify Web API to search for Music according to Artist, Album or song, also the user can play preview of the track.</p>
<div class="row man">
    <div class="col-md-4">
        <div class="block">
            <h3>Angular CLI</h3>
            <h6>Angular 4 (latest)</h6>
            <hr>
            <li>Check out the Latest angular 4 Docs
                <a href="https://angular.io/docs">Angular 4</a>
            </li>
            <li>Start with <pre style="width: 50%;">npm install</pre></li>
            <li>To launch the application use<pre style="width: 50%;">ng serve</pre></li>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block">
            <h3>Spotify web API</h3>
            <h6>Developer API</h6>
            <hr>
            <li>Check out the Web API Docs Artist
                <a href="https://developer.spotify.com/web-api/">Spotify API</a>
            </li>
            <li>If you want enhance, get your own Client ID, Secret ID.</li>
            <li>For spotify credentials have an account and get the API Keys.</li>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block">
            <h3>Features</h3>
            <h6>what is offered</h6>
            <hr>
            <li>You can search for the artist, song, Album.</li>
            <li>Get the list of search and dive through.</li>
            <li>You can also preview the song.</li>
            <li>Else just click on check out in Spotify.</li>
        </div>
    </div>
</div>
<p class="pre">** If preview Doesn't work, The feature is not available for certain album or artist, try another</p>